/* Big screen :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
  .ev__tab__text h6 {
    font-size: 14px;
}

.Events__tab ul li {
    gap: 14px;
}

}

/* Normal screen :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
  .menu-area ul {
    max-width: 560px;
    gap: 36px;
  }

  .footer__nav ul li a {
    font-size: 14px;
  }

  .Event__details p {
    font-size: 14px;
  }

  .Article__info h4 {
    font-size: 18px;
  }

  .Articles__content .Article__info .flex p {
    font-size: 14px;
  }

  .org__profile {
    padding: 0 25px;
  }

  .org__Details__blk ul li {
    font-size: 14px;
  }

  /* setu */
  .membership-form-box {
    padding: 3em 3em;
  }

  .membership-form-box p {
    padding: 0;
  }
  .Reminder__list ul {
    gap: 16px;
}

.Reminder__list ul li span {
    font-size: 14px;
}

.Reminder__slider p {
    font-size: 13px;
}
.profile__info p {
  font-size: 14px;
}
.Community__tab__content ul li {
  flex-wrap: wrap;
  gap: 15px;
}

.cmm__btn {
  margin-left: auto;
}
.org-content.v2 .address-key-value-pair {
  flex-wrap: wrap;
}
.chat__user .flex p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.setting__btns .nav button {
  font-size: 15px;
  padding: 22px 24px !important;
  height: auto;
}
.notification__preference__btns {
  padding: 20px;
}
.footer__btm p {
  font-size: 14px;
}

.footer__btm h2 {
  font-size: 26px;
}

.footer__btm span {
  font-size: 12px;
}
}

/* Tablet screen :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  img.Ellipse-right {
    top: 25%;
    max-width: 35%;
  }

  .app-scanner {
    display: none;
  }

  .footer__content a {
    margin-bottom: 30px;
  }

  .footer__content {
    margin-bottom: 50px;
  }

  .box-style {
    margin-inline: auto;
  }

  .Articles__blk {
    max-width: 46%;
    display: inline-block;
    margin: 20px 10px;
  }

  .page__btns {
    padding-top: 35px;
  }

  .membership-form-box {
    padding: 25px;
  }

  .membership-form .form-btn {
    gap: 20px !important;
  }

  .membership-form .form-btn {
    margin-top: 25px;
  }

  .membership-form-box h4 {
    font-size: 22px;
  }

  .membership-form-box p {
    margin-bottom: 20px;
  }

  .form-timeline {
    margin-bottom: 25px;
  }

  .form-timeline ul li {
    padding-left: 19px;
  }

  .form-timeline ul {
    gap: 16px !important;
  }

  .join-area {
    padding-bottom: 100px;
  }

  .plan__card {
    margin-bottom: 20px;
  }


.help-area .row {
    flex-direction: column-reverse;
    gap: 30px;
}

.help___img {
    text-align: center;
    max-width: 300px;
    margin: auto;
}

.help__content {
    text-align: center;
}

.help__content h1 {
    margin-inline: auto;
}

.help__content ul {
    justify-content: center;
}
.org__events__card.org__card {
  margin-top: 20px;
}

.small .profile__info {
  gap: 10px;
}

.ft__org__blk {
  margin-top: 20px;
}
.footer__btm.v2 {
  flex-direction: column;
  gap: 20px;
}
.Reminder__blk {
  margin: 20px 0;
}

.event_text {
  margin-top: -180px;
}
.org-content.v2 .address-key-value-pair {
  flex-wrap: wrap;
}
.Events__tab__wrp {
  height: auto;
}
.messages-area .row {
  flex-direction: column-reverse;
  gap: 30px;
}
.setting__btns .nav button {
  font-size: 15px;
  padding: 22px 24px !important;
  height: auto;
}

.notification__preference__btns {
  padding: 20px;
}
.calendar__blk.v2 {
  margin: auto;
}
.footer__btm p {
  font-size: 14px;
  text-align: center;
}

.footer__btm h2 {
  font-size: 26px;
}

.footer__btm span {
  font-size: 12px;
}
.footer__btm.v2 .container {
  gap: 20px;
}
}

/* small screen :320px. */
@media (max-width: 767px) {
  :root {
    --thmColor: #0997d9;
    --textColor: #505050;

    --f18: 16px;
    --f20: 18px;
    --f22: 20px;
    --f24: 20px;
    --f28: 24px;
    --f30: 26px;
    --f32: 28px;
    --f36: 30px;
    --f40: 34px;
    --f48: 36px;
    --f64: 54px;
  }

  body {
    font-size: 15px;
  }

  img.Ellipse-right {
    top: 28%;
    max-width: 47%;
  }

  img.Ellipse-top {
    max-width: 50%;
    opacity: 0.5;
  }

  .thm_btn {
    font-size: 14px;
  }

  .app-scanner {
    display: none;
  }

  .footer__content a {
    margin-bottom: 30px;
  }

  .header-area {
    padding: 25px 0;
  }

.header-area .container {max-width: 96%;width: 100%;}

  .app__wrp {
    padding: var(--f24);
  }

  .footer__nav {
    margin-top: 30px;
  }

  .footer__nav ul li {
    margin-bottom: 14px;
  }

  .footer__btm {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    text-align: center;
  }

  .hero-area {
    padding: 30px 0 50px;
  }

  .address-key-value-pair {
    flex-direction: column;
    align-items: self-start;
  }

  .address-key {
    width: 100%;
  }

  .accordion-button {
    font-size: 14px;
    padding: 20px;
  }

  .box-style {
    max-width: 100%;
  }

  .app__content h1 {
    font-size: 24px;
  }

  .Article__info h4 {
    font-size: 18px;
  }

  .Articles__content .Article__info .flex p {
    font-size: 14px;
  }

  .Article__label {
    padding-left: 20px;
    padding-right: 20px;
  }

  .org__profile {
    flex-direction: column;
    padding: 0;
  }

.org__profile.small {
    flex-direction: row;
}

  .profile__info>i {
    width: 100px;
    height: 100px;
  }

  .profile__info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .org__btns {
    justify-content: center;
  }

  /* Setu */
  .mb_150 {
    margin-bottom: 50px;
  }

  .page__btns {
    padding-top: 30px;
    margin-bottom: -24px;
  }

  .join-area {
    padding-bottom: 50px;
  }

  .membership-form-box {
    padding: 25px;
  }

  .membership-form .form-btn {
    gap: 20px !important;
  }

  .membership-form .form-btn {
    margin-top: 25px;
  }

  .membership-form-box h4 {
    font-size: 22px;
  }

  .membership-form-box p {
    margin-bottom: 20px;
  }

  .form-timeline {
    margin-bottom: 25px;
  }

  .form-timeline ul li {
    padding-left: 19px;
  }

  .form-timeline ul {
    gap: 16px !important;
  }

  .join-area {
    padding-bottom: 100px;
  }

  .form-btn button.site-btn {
    font-size: 14px;
  }

  .plan-heading h2 {
    font-size: 30px;
  }

  .plan-heading h5 {
    font-size: 22px;
  }

  .plan__title {
    flex-direction: column;
    gap: 0px;
    margin-bottom: 28px;
  }

  .plan__title__right a {
    width: 120px;
    height: 42px;
  }

  .footer-area {
    padding-top: 40px;
  }

  .plan__card {
    margin-bottom: 20px;
  }

  .plan__wrap {
    padding: 0;
    padding-top: 30px;
  }

  .org__events__card__content h5 {
    min-height: auto;
  }

  .cancel__modal .flex {
    flex-direction: column;
    gap: 20px;
  }

  .cancel__modal {
    padding: 36px;
    padding-top: 50px;
  }
  .help-area .row {
    flex-direction: column-reverse;
    gap: 30px;
}

.help___img {
    text-align: center;
    max-width: 300px;
    margin: auto;
}

.help__content {
    text-align: center;
}

.help__content h1 {
    margin-inline: auto;
    font-size: 30px;
}

.help__content ul {
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.help__content ul li {
    padding: 0;
}

.help__content ul h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.org__events__card.org__card {
  margin-top: 20px;
}

.small .profile__info {
  gap: 10px;
  flex-direction: row;
}

.ft__org__blk {
  margin-top: 20px;
}
.footer__btm.v2 {
  flex-direction: column;
  gap: 20px;
}

.ft__org__blk .flex {
  flex-direction: column;
  gap: 15px;
}


.ft__org__blk .flex span {
  width: 100%;
}
.mb_100{
    margin-bottom: 60px;
}
.Reminder__blk {
  margin: 20px 0;
}

.event_text {
  margin-top: -172px;
}
.welcome-area {
  padding: 20px 0 50px;
}

.src__wrp {
  flex-direction: column;
}

.Reminder__slider p {
  font-size: 12px;
  display: inline-block;
}

.Reminder__slider p img {
  display: none !important;
}

.Reminder__list ul li {
  width: 46%;
}

.Reminder__list ul {
  flex-wrap: wrap;
}

.Task__blk {
  flex-wrap: wrap;
}

.event_blk {
  max-width: 300px;
  margin-inline: auto;
}
.cm__blk {
  margin-bottom: 30px;
}
.sec__title {
  text-align: center;
}
.profile__info p {
  font-size: 14px;
}
.Community__tab__content ul li {
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.Community__tab__content ul li .cmm__btn {
    margin: auto;
}

.cmm__btn {
  margin-left: auto;
}
.Community__tab__content ul li .flex {
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.prof__img > div > img {
  width: 80px;
  height: 80px;
}

.prof__img a {
  bottom: 0;
}
.Events__tab__wrp {
  height: auto;
}
.messages-area .row {
  flex-direction: column-reverse;
  gap: 30px;
}
.chat__user .flex p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.inCome-text {
  width: auto;
}

.inCome-text-wrp {
  width: 100%;
}

.outGo-text {
  width: calc(100% - 35px);
}
.chat__list ul {
  height: 220px;
  overflow: auto;
}

.messages-area {
  padding-top: 20px;
}
.inCome-text p {
  font-size: 14px;
}
.ticket__list__table table {
  min-width: 700px;
}

.ticket__list__table {
  overflow: auto;
}
.setting__btns .nav button {
  font-size: 15px;
  padding: 22px 24px !important;
  height: auto;
}
.notification__preference__btns {
  padding: 20px;
}
.notification__preference__btns ul li{
    width: 100%;
}
.task__top {
    flex-wrap: wrap;
}

.task__prog {
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px 30px;
    margin-top: 20px;
}
.footer__btm p {
  font-size: 14px;
  text-align: center;
}

.footer__btm h2 {
  font-size: 26px;
}

.footer__btm span {
  font-size: 12px;
}
.footer__btm.v2 .container {
  gap: 20px;
  flex-direction: column-reverse;
}
}

/* Large Mobile screen :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 450px;
  }
}